.swiper {
  width: 250px;
  height: 310px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  border-radius: 30px 10px 30px 10px;
}

.swiper-slide:nth-child(1n) {
  background-color: #ddd6fe;
}

.swiper-slide:nth-child(2n) {
  background-color: #aeeeee;
}

.swiper-slide:nth-child(3n) {
  background-color: #c7f9cc;
}
